# Dependency directories
node_modules/

# React directories
frontend/node_modules
frontend/public
frontend/src
frontend/.gitignore
frontend/package-lock.json
frontend/package.json
frontend/README.md

# db
config/